*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
@keyframes myAnimation {
  0%   {color: #020024;}
  25%  {color: #090979;}
  50%  {color: #0562B4;}
  100% {color: #00D4FF;}
}
.main{
    width: 100%;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #00D4FF;
    background-color: rgba(0, 0, 0, 0.747);
}
.name{
    padding-left: 40px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.myself{
    padding-left: 40px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.Clases{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #00D4FF;
}
.p2{
    padding-left: 40px;
    padding-top: 10px;
    font-size: 20px;
    color: #00D4FF;
    animation-name: myAnimation;
    animation-duration: 10s;
}
.h2{
    padding-left: 40px;
    padding-top: 20px;
    color: rgb(184, 155, 92);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
.p1{
    font-size: 20px;
    color: #00D4FF;

    animation-name: myAnimation;
    animation-duration: 10s;
    font-family: Arial, Helvetica, sans-serif;
}
.movies{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #00D4FF;
}
.a1{
    color: rgb(0, 255, 170);
}
.d2{
    display: flex;
    padding-left: 40px;
    padding-top: 10px;
}
.big{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.moods{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.facts{
    width: 50%;
    border-left: 1px solid #00D4FF;
}
.d3{
    width: 100%;
    padding-top: 50px;
    padding-left: 40px;
}
.img1{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
